@font-face {
  font-family: LatoBold;
  src: url("/src/assets/fonts/lato/Lato-Bold.ttf");
}

@font-face {
  font-family: LatoRegular;
  src: url("/src/assets/fonts/lato/Lato-Regular.ttf");
}

@font-face {
  font-family: RalewayRegular;
  src: url("/src/assets/fonts/railway/Raleway-Regular.ttf");
}

@font-face {
  font-family: RalewayBold;
  src: url("/src/assets/fonts/railway/Raleway-SemiBold.ttf");
}
